* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-color: #f7d6d6;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 70px);
}

.screen {
  box-shadow: 0 0 4rem 1rem rgb(210, 209, 209);
  border-radius: 10px;
}

.container > .screen {
  grid-column: 1 / -1;
  background-color: rgb(251, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.screen .previous-number {
  color: #7c7b7bbf;
  font-size: 1.5rem;
}

.screen .current-number {
  color: #1d1d1d;
  font-size: 2.5rem;
}

.container > .btn {
  background-color: #a6aed4;
  border: 1px solid #999;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 2px;
}

.span-two {
  grid-column: span 2;
}
